<h1>So what's this blog about?</h1>
<br />
<p>This blog is part journal and part open source project. The source code can be found <a href="https://github.com/DVG/bradley_online">here at Github.</a></p>

<p>Mostly I wanted to blog about Ruby, Programming and Testing (with, perhaps occasional jaunts into other topics like posting drawings), but I didn't want to be stuck using wordpress and PHP. This is the result. Anyone's welcome to steal the source and do whatever they want with no. No attribution or recognition needed.</p>