<%= div_for(@posts, :class => "post") do |post| %>
  <div class="post-title page-header">
    <h2><%= post.title %></h2>
  </div>
  <div class="post-body">
    <%= markdown post.body %>
  </div>
  <div class="post-links">
    <i class="icon-comment icon-white"></i> <%= link_to "Comments (#{post.comments.size})", post_path(post)%>
  </div>
<% end %>